@keyframes spin-reverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.animate-spin-reverse {
    animation: spin-reverse 1s linear infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.animate-pulse {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes color-transition {
    0% {
        background-color: #198dec; /* Azul oscuro */
    }
    33% {
        background-color: #4299e1; /* Azul */
    }
    66% {
        background-color: #e53e3e; /* Rojo */
    }
    100% {
        background-color: #f11a1a; /* Rojo oscuro */
    }
}

.animate-color-transition {
    animation: color-transition 3s linear infinite;
}