@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .admin-page {
        @apply bg-gray-900 text-white font-sans p-8;
    }

    .admin-page input {
        @apply bg-gray-800 text-white border border-gray-700 rounded-lg p-2 w-full mb-4;
    }

    .admin-page button {
        @apply bg-gray-700 text-white px-4 py-2 rounded-lg hover:bg-gray-600;
    }
}
