@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .admin-page {
        @apply bg-gray-900 text-white font-sans p-8;
    }

    .admin-page input {
        @apply bg-gray-800 text-white border border-gray-700 rounded-lg p-2 w-full mb-4;
    }

    .admin-page button {
        @apply bg-gray-700 text-white px-4 py-2 rounded-lg hover:bg-gray-600;
    }

    .payment-form {
        @apply bg-gray-900;
    }

    .payment-form form {
        @apply space-y-4;
    }

    .payment-form div {
        @apply sm:flex sm:items-center sm:gap-4;
    }

    .payment-form label {
        @apply block w-32 text-gray-100;
    }

    .payment-form input {
        @apply bg-gray-800 text-white border border-gray-700 rounded-lg p-2 w-full mb-4;
    }

    .payment-form button {
        @apply bg-gray-700 text-white px-4 py-2 rounded-lg hover:bg-gray-600 w-full sm:w-auto;
    }
    .logo{
        height: 40;
        width: auto;
    }
}
